<h1>Reports available </h1>

<div class="mapouter">
<div class="map" id="fixermap"></div>
<% @reports.each do |report| %>
      <script>
      $(document).ready(function loadReports() {

              var lat = <%=report.latitude%> ;
              var lng = <%=report.longitude%> ;
              var id = <%=report.id%> ;
              displayReport(lat,lng,id);

      });
      </script>
      <% end %>
<div id= "showreport"></div>
