<html>
    <head>
        <meta charset="UTF-8">
        <title>Restaurant</title>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag "welcome.css" %>
        <%= javascript_include_tag "welcome.js" %>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">GotCrash</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav  clear navbar-right ">
                            <li><a class="navactive color_animation" href="#top">WELCOME</a></li>
                            <li><a class="color_animation" href="#services">SERVICES</a></li>
                            <li><a class="color_animation" href="#about">ABOUT</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div id="top" class="starter_container bg">
            <div class="follow_container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="top-title"> Fix your car</h2>
                    <h2 class="white second-title">" Best in the world "</h2>
                    <hr>
                    <button type="button" class="btn-lg btn-danger" onclick="location.href='<%=profiles_path%>'">Get Started!</button>
                </div>
            </div>
        </div>

        <!-- ============ About Us ============= -->

        <section id="services" class="description_content">
          <div class="text-content container">
              <div class="col-md-6">
                  <h1>Get some help</h1>
                  <!-- <div class="fa fa-cutlery fa-2x"></div> -->
                  <p class="desc-text">
                    Put your crash on the map, and let local auto shops know that you're in trouble.<br />
                    The fixers will give you solutions and bids.<br />
                    Choose your favourite solution!
                  </p>
              </div>
              <div class="col-md-5  col-md-offset-1">
                 <div class="img-section">
                     <img src="map_new.png" width="100%">
                 </div>
              </div>
          </div>
        </section>


       <!-- ============ Pricing  ============= -->


        <section class="description_content">
             <div class="reservation background_content">
                <h1>Make <span>Best</span> Choices</h1>
             </div>
             <div class="text-content container">

                 <div class="col-md-6">
                     <h1>Negotiate</h1>
                     <p class="desc-text">
                       Still hesitate? <br />
                        If you can't figure out which store to go to because multiple auto shops give you fixing solutions. You can ask about prices and times all tracked here with our chatting function.
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                   <div class="img-section">
                       <img src="talking.jpg" width="100%">
                   </div>
                </div>
                <br>
             </div>
        </section>


        <!-- ============ Our Beer  ============= -->


        <section class="description_content">
          <div class="pricing background_content">
             <h1><span>Fixers</span> also needed</h1>
          </div>
          <div class="text-content container">
              <div class="col-md-5">
                 <div class="img-section">
                     <img src="AdvertiseUs.jpg" width="100%">
                 </div>
              </div>
              <br>
              <div class="col-md-6 col-md-offset-1">
                  <h1>Advertising</h1>
                  <p class="desc-text">
                    Or alternatively, if you are the one fixing cars: <br />
                    Make yourself known by putting your shop information on our website, try to help people who need you.
                  </p>
             </div>
          </div>
        </section>

        <section id ="about" class="description_content">
            <div  class="beer background_content">
                <h1>Our Amazing <span>Team</span></h1>
            </div>
            <div class="text-content container">
              <div class="row">
                <div class="col-sm-3">
                  <div class="team-member1">
                    <img class="img-circle team-member" src="Matthew.png" alt="">
                    <h2>Matthew Downs</h2>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="team-member1">
                    <img class="img-circle team-member" src="Oliver.jpg" alt="">
                    <h2>Oliver Wen</h2>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="team-member1">
                    <img class="img-circle team-member" src="Venus.jpg" alt="">
                    <h2>Venus Sun</h2>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="team-member1">
                    <img class="img-circle team-member" src="Ti.jpg" alt="">
                    <h2>Ti Zhou</h2>
                  </div>
                </div>
              </div>
            </div>
        </section>



        <!-- ============ Footer Section  ============= -->
        <%= render "layouts/footer" %>
    </body>

</html>
