<div class="center jumbotron">
  <h1>Welcome to GotCrash!</h1>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
</div>
