<!-- <img src="Crash.jpg" alt="Despair"> -->
<div class="center jumbotron">
  <img class="img-small" src="Crash.jpg" alt="Front page Car">
  <h1>Welcome to GotCrash!</h1>
  <% if !logged_in? %>
  <a class="btn btn-lg" href="/signup">Sign up now!</a>
  <% else %>
  <a class="btn btn-lg" href="/login">Log in</a>
  <% end %>
  <a class="btn btn-lg" href="/profiles#show">My Profile</a>
</div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">E-Commerce</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Responsive Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Security</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">This Project is made by the Cosi 166b class of Fall 2018</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Matthew.png" alt="">
          <h4>Matthew Downs</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Oliver.jpg" alt="">
          <h4>Oliver Wen</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Venus.jpeg" alt="">
          <h4>Venus Sun</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
          <h4>Ti Zhou</h4>
        </div>
      </div>
    </div>
  </div>
</section>
