<!-- <img src="Crash.jpg" alt="Despair"> -->
<div class="center bg-light">
<section id = "intro">
  <h1>Welcome to GotCrash!</h1>
  <p>Has this ever happened to you? Look no further!</p>
  <% if !logged_in? %>
  <a class="btn btn-lg" href="/signup">Sign up now!</a>
  <a class="btn btn-lg" href="/login">Log in</a>
  <% end %>
</section>
</div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img height=200px width=250px src="map_example.jpeg" alt="">
        <h4 class="service-heading">Get some help!</h4>
        <p class="text-muted">Put your crash on the map, and let local auto shops know that you're in trouble. </p>
      </div>
      <div class="col-md-4">
        <img height=200px width=250px src="talking.jpg" alt="">
        <h4 class="service-heading">Negotiate!</h4>
        <p class="text-muted">Can't figure out which store to go to? Multiple places giving you offers? Ask about prices and times all tracked here. </p>
      </div>
      <div class="col-md-4">
        <img height=200px width=250px src="AdvertiseUs.jpg" alt="">
        <h4 class="service-heading">Advertise your store!</h4>
        <p class="text-muted">Or alternatively, if you are the one fixing cars, make yourself known by reaching out to people who need you!</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">This Project is made by the Brandeis Capstone class of Fall 2018</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Matthew.png" alt="">
          <h4>Matthew Downs</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Oliver.jpg" alt="">
          <h4>Oliver Wen</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Venus.jpg" alt="">
          <h4>Venus Sun</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="Ti.jpg" alt="">
          <h4>Ti Zhou</h4>
        </div>
      </div>
    </div>
  </div>
</section>
