<thead>
  <tr>
    <th>Auto Shop</th>
    <th>Rating</th>
  </tr>
  </thead>
  <tbody >
      <% filteredshops.each do |shop| %>
      <tr >
        <td><%= shop.name %></td>
        <td><%= shop.average_rating%></td>
        <td><%= link_to 'See on Map', "javascript:moveToShop(#{shop.id})" %></td>
      </tr>
      <% end %>
  </tbody>
  <%= include_gon %>
