/*
 *= require bootstrap
 *= require font-awesome.min
 *= require admin/themify-icons
 *= require admin/flag-icon.min
 *= require admin/cs-skin-elastic
 *= require admin/style
 */
.bg-dark{
  background-color: #343a40;
}


.edit_move {
  margin-left: 10px;
}

.edit_move2 {
  margin-left: 5px;
}

.edit_move3 {
  margin-left: 190px;
}

.edit_move4 {
  margin-left: -20px;
}

.edit_move5 {
  margin-left: -30px;
}

.edit_move_right1 {
  margin-right: 5px;
}

.edit_move_right2 {
  margin-right: -50px;
}

.form_part {
  padding:5px 10px 5px 10px ;
}

.padding_label {
  padding: 10px;
}

.padding_label2 {
  padding: 8px;
}

.padding_content {
  padding: 10px 10px 0 10px;
}

.margintop_btn {
  margin-top: 30px;
}

.right {
  float: right;
}

.rounded-circle {
  border-radius: 50%!important;
}

.move-left {
  left: 0;
}

.show-report {
  width: 550px;
  height: 280px;
  max-height: 300px!important;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #FFFFFF;
}

.search-report {
  padding-left: 15px;
  padding-right: 15px;
}

.search-line {
  padding-top: 20px;
}

.grey {
  color:#878787;
}

.right {
  float:right;
}

.text-area {
  resize: none;
}

.select {
  display:inline-block;
  width:120px;
  height:25px;
}

.btn-back {
  width:100px;
  margin-left:160px;
}
