/*
 *= require bootstrap
 *= require font-awesome.min
 *= require admin/themify-icons
 *= require admin/flag-icon.min
 *= require admin/cs-skin-elastic
 *= require admin/style
 */
.bg-dark{
  background-color: #343a40;
}


.edit_move {
  margin-left: 10px;
}

.edit_move2 {
  margin-left: 5px;
}

.edit_move3 {
  margin-left: 190px;
}

.edit_move4 {
  margin-left: -20px;
}

.edit_move5 {
  margin-left: -30px;
}

.edit_move_right1 {
  margin-right: 5px;
}

.edit_move_right2 {
  margin-right: -50px;
}

.form_part {
  padding:5px 10px 5px 10px ;
}

.padding_label {
  padding: 10px;
}

.padding_label2 {
  padding: 8px;
}

.padding_content {
  padding: 10px 10px 0 10px;
}

.margintop_btn {
  margin-top: 30px;
}

.right {
  float: right;
}

.rounded-circle {
  border-radius: 50%!important;
}

.move-left {
  left: 0;
}

.show-report {
  width: 550px;
  height: 280px;
  max-height: 300px!important;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #FFFFFF;
}

.search-report {
  padding-left: 15px;
  padding-right: 15px;
}

.search-line {
  padding-top: 20px;
}

.grey {
  color:#878787;
}

.right {
  float:right;
}

.text-area {
  resize: none;
}

.select {
  display:inline-block;
  width:120px;
  height:25px;
}

.btn-back {
  width:100px;
  margin-left:160px;
}

.inputGroup {
  background-color: #DFDBDA;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #000000;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #428bca;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.checkbox_label {
  width:550px;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
