<h1>Type in your VIN number below to get your car information</h1>
<%= form_tag new_car_path, method: :get do%>
   <%= text_field_tag :vin, params[:vin], placeholder: "type your vin number here..." %>

<%= submit_tag "Search my VIN", :class => "btn btn-primary" %>
<% end %>


<h1>New Car Information</h1>

<% if :vin.nil? %>



<% else %>

  <%= render 'car_detail' %>

<% end %>
