
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Gotcrash? No Big Deal!", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "My Profile",   profiles_path %></li>
        <li><%= link_to "activity2", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
